{% extends "FacturasNorte/base/base.html" %}
{% load l10n %}



{% block content %}

{% load staticfiles %}
    <link rel="stylesheet" href="{% static "FacturasNorte/css/forms.css" %}?v=00002">

<form method="post" action="{% url 'FacturasNorte:login' %}">
{% csrf_token %}
<br>
  <div>
      <div>{{ form.email.errors }}</div>
      <div>{{ form.password.errors }}</div>
  </div>
  <div id="form-group">
    <div id="label" style="width: 7%">{{ form.username.label_tag }}</div>
    <div id="field">{{ form.username }}</div>
      {% if form.captcha.errors %}
        <div><ul class="errorlist"><li>Captcha no verificado.</li></ul></div>
      {% endif %}

  </div>
  <div id="form-group">
    <div id="label" style="width: 7%">{{ form.password.label_tag }}</div>
    <div id="field">{{ form.password }}</div>
  </div>
  <div id="form-group">
      {% if captcha %}
           <div id="field">{{ form.captcha }}</div>
           <div class="g-recaptcha" data-sitekey="6LeusxETAAAAAHDOERot9MLDEUBqMIwAajzpa26F"> </div>
      {% endif %}

  </div>


<button id="flat-boton" type="submit">Iniciar Sesi&oacute;n</button>

<input  type="hidden" name="next" value="{{ next }}"/>


    {% csrf_token %}
    <br>
 <a type="submit" href="{% url 'FacturasNorte:reestablecer_contrasena_form' %}" class="link">&iquest;Olvid&oacute; su contrase&ntilde;a?</a>

</form>


<br>


<script src="https://www.google.com/recaptcha/api.js"></script>

{% endblock %}