{% extends "FacturasNorte/base/base.html" %}

{% block content %}

    {% load staticfiles %}
        <link rel="stylesheet" href="{% static "FacturasNorte/css/../../../static/FacturasNorte/img/../../../static/FacturasNorte/css/index_style.css" %}">
        <link rel="stylesheet" href="{% static "FacturasNorte/img/img_index/diarioNorte.jpg" %}">

{% if form.errors %}
     <h2>Usuario o password incorrectos. Intente nuevamente</h2>
{% endif %}

<form method="post" action="{% url 'FacturasNorte:login' %}">
{% csrf_token %}

<table>
<tr>
    <td>{{ form.usuario.label_tag }}</td>
    <td>{{ form.usuario }}</td>
</tr>
<tr>
    <td>{{ form.password.label_tag }}</td>
    <td>{{ form.password }}</td>
</tr>
</table>

<input type="submit" value="login" />
<input type="hidden" name="next" value="{{ next }}" />
</form>

{% endblock %}