{% extends "FacturasNorte/base/base.html" %}
{% load l10n %}
{% block content %}
    <body xmlns="http://www.w3.org/1999/html">
        <form action="" class="register" method="post">

            <fieldset class="row1">
                <legend>Facturas Norte
                </legend>
                    {% load l10n %}

                    <form action="" method="post">
                        {% csrf_token %}
                         <h1> Formulario de Registro Cliente</h1>
                             {{ form.non_field_errors }}
                            <h6> (*) este campo es obligatorio </h6>

                             {% for field in form %}

                                  <div class="fieldWrapper">
                                    <br>   * {{ field.label_tag }}


                                         {{ field.errors }}
                                         {{ field }}


                                  </div>

                             {% endfor %}
                                        {% for hidden in form.hidden_fields %}
                                            {{ hidden }}
                                        {% endfor %}
                              <p></p>
                              <p></p>


                          <div style="width: 170px; margin: 0 auto;">
                          <input type="submit" value="Guardar"/>

                         </div>

                    </form>
            </fieldset>
        </form>
    </body>

{% endblock %}
