{% extends "FacturasNorte/base/base.html" %}
  {% load staticfiles %}
{% block content %}
<h1>Clientes</h1>

    <div id="searchbar">
        <form action="" id="filter" method="get">
        {% csrf_token %}

            <div class="fieldWrapper">
                <p> {{ form.query.label_tag }} {{ form.query }} {{ form.tipo.label_tag }} {{ form.tipo }} </p>
                <button id="boton" type="submit"> Filtrar  </button>
            </div>

        </form>
    </div>
<br/>
<br/>

{% if not page_obj.object_list %}
      <h3> No se han encontrado resultados.</h3>
  {% else %}

 <table style="width:100%">

  <tr>
    <th>CUIT</th>
    <th>Nombre</th>
    <th>Email</th>
    <th></th>
     </tr>
     {% for cliente in cliente_list %}

        <tr>
            <td>{{ cliente.nroDoc }}</td>
            <td>{{ cliente.nombre }}</td>
            <td>{{ cliente.email }}</td>

            <td><a href={% url 'FacturasNorte:registro_cliente' cliente.numero %}>
                <img src="{% static "FacturasNorte/img/add.gif" %}" width="12", alt="Editar"/> Agregar</a></td>
        </tr>

     {% endfor %}
  {% endif %}
</table>


    {% if is_paginated %}
        <div class="pagination">
            <span class="page-links" style="margin: 500px; padding: 5px;">
                {% if page_obj.has_previous %}
                   <a href="?page={{ page_obj.previous_page_number }}">
                        <button> <img src="{% static "FacturasNorte/img/anterior.jpg" %}" width="14", alt=""/>  Anterior </button>
                    </a>
                {% endif %}
                <span class="page-current">
                    Pagina {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}
                </span>
                {% if page_obj.has_next %}
                   <a href="?page={{ page_obj.next_page_number }}">
                       <button> <img src="{% static "FacturasNorte/img/siguiente.jpg" %}" width="14", alt=""/>  Siguiente </button>
                    </a>

                {% endif %}
            </span>
        </div>
    {% endif %}

{% endblock %}