{% extends "FacturasNorte/base/base.html" %}
{% load l10n %}
{% load staticfiles %}
{% block content %}
<h1>{{ cliente.nombre}}</h1>

<table id="vertical" style="width:100%">
  <tr>
    <th>DNI</th>
    <td>{{ cliente.nroDoc }}</td>
  </tr>
  <tr>
    <th>Fecha nacimiento</th>
    <td>{{ cliente.fechaNacimiento|date:"SHORT_DATE_FORMAT" }}</td>
  </tr>
  <tr>
    <th>Email</th>
    <td>{{ cliente.email }}</td>
  </tr>
  <tr>
    <th>Domicilio</th>
    <td>{{ cliente.domicilio }}</td>
  </tr>
  <tr>
    <th>Telefono</th>
    <td>{{ cliente.telefono }}</td>
  </tr>

</table>

    <div id="links">
        <form action="{% url 'FacturasNorte:facturas_cliente' cliente.numero %}">
            <input type="submit" value="Ver Facturas">
        </form>
        <form action="{% url 'FacturasNorte:modif_cliente' cliente.numero %}">
            <input type="submit" value="Modificar">
        </form>
        <form action="{% url 'FacturasNorte:reestablecer_contrasena' cliente.numero %}">
            <input type="submit" value="Reestablecer contrasena">
        </form>
        <form action="{% url 'FacturasNorte:elim_cliente' cliente.numero %}">
            <input type="submit" value="Eliminar">
        </form>
    </div>
{% endblock %}