{% extends "FacturasNorte/base/base.html" %}
{% load l10n %}
{% load staticfiles %}
{% block content %}
<h1>{{ cliente.nombre}}</h1>

<table id="vertical" style="width:100%">
  <tr>
    <th>DNI</th>
    <td>{{ cliente.dni }}</td>
  </tr>
  <tr>
    <th>Fecha nacimiento</th>
    <td>{{ cliente.fechaNacimiento|date:"SHORT_DATE_FORMAT" }}</td>
  </tr>
  <tr>
    <th>Email</th>
    <td>{{ cliente.email }}</td>
  </tr>
  <tr>
    <th>Domicilio</th>
    <td>{{ cliente.domicilio }}</td>
  </tr>
  <tr>
    <th>Telefono</th>
    <td>{{ cliente.telefono }}</td>
  </tr>

</table>

    <div id="links">
        <form action="{% url 'FacturasNorte:facturas_cliente_empleado' cliente.nroUsuario.id %}">
           <button id="boton" type="submit"> Ver facturas </button>
        </form>
        <form action="{% url 'FacturasNorte:modif_cliente' cliente.id %}">
            <button id="boton" type="submit"> Modificar  </button>
        </form>
        <form action="{% url 'FacturasNorte:reestablecer_contrasena' cliente.id %}">
            <button id="boton" type="submit"> Regenerar contrase&ntilde;a  </button>
        </form>
        <form action="{% url 'FacturasNorte:elim_cliente' cliente.id %}">
            <button id="boton" type="submit"> Eliminar  </button>
        </form>
    </div>
{% endblock %}