{% extends "FacturasNorte/base/base.html" %}
{% load l10n %}

{% block nav-global %}
                <ul id="menu">
                    <!-- put class="selected" in the li tag for the selected page - to highlight which page you're on -->
                    <li><a href="{% url 'FacturasNorte:index' %}">Inicio</a></li>
                    {% if user.is_active %}
                        {% if user.is_superuser %}
                            <li><a href="{% url 'FacturasNorte:perfil_admin' user.id %}">Mi Perfil</a></li>
                            <li><a href="{% url 'FacturasNorte:lista_empleado'%}">Empleados</a></li>
                            <li><a href="{% url 'FacturasNorte:lista_cliente'%}">Clientes</a></li>
                        {% elif user.is_staff %}
                            <li class="selected"><a href="{% url 'FacturasNorte:perfil_empleado' user.id %}">Mi Perfil</a></li>
                            <li><a href="{% url 'FacturasNorte:lista_cliente' %}">Clientes</a></li>
                        {% else %}
                            <li><a href="{% url 'FacturasNorte:perfil_cliente' user.id %}">Mi Perfil</a></li>
                            <li><a href="{% url 'FacturasNorte:facturas_cliente' user.id %}">Mis Facturas</a></li>
                        {% endif %}
                    {% endif %}
                    <li><a href="{% url 'FacturasNorte:home' %}">Novedades</a></li>
                    <li><a href="{% url 'FacturasNorte:contacto' %}">Contactenos</a></li>
                </ul>
{% endblock %}

{% block content %}

{%  if user.id == empleado.nroUsuario.id %}

<h1>Datos personales</h1>

<table id="vertical" style="width:100%">
   <tr>
    <th>Nombre</th>
    <td>{{ empleado.nombre }}</td>
  </tr>
  <tr>
    <th>DNI</th>
    <td>{{ empleado.dni }}</td>
  </tr>
  <tr>
    <th>Fecha nacimiento</th>
    <td>{{ empleado.fechaNacimiento|date:"SHORT_DATE_FORMAT" }}</td>
  </tr>
  <tr>
    <th>Email</th>
    <td>{{ empleado.email }}</td>
  </tr>
  <tr>
    <th>Domicilio</th>
    <td>{{ empleado.domicilio }}</td>
  </tr>
  <tr>
    <th>Telefono</th>
    <td>{{ empleado.telefono }}</td>
  </tr>

</table>


<div id="links">
    <form action="{% url 'FacturasNorte:cambiar_contrasena' %}">
            <input type="submit" value="Cambiar contrasena">
    </form>
    <form action="{% url 'FacturasNorte:modif_perfil' empleado.id %}">
            <input type="submit" value="Modificar">
    </form>
</div>

{% else %}
    <p>No tiene permiso para visualizar los datos de esta persona</p>
{% endif %}

{% endblock %}