{% extends "FacturasNorte/base/base.html" %}
{% load l10n %}
{% block content %}
<form action="" method="post">
                 {% csrf_token %}
                 <h1>Registro Cliente</h1>
                 {{ form.non_field_errors }}
                     <h6> (*) estos campos son obligatorios </h6>
                         <table id="vertical" style="width:100%">
                         {% for field in form %}
                           <tr>
                                <th>* {{ field.label }}</th>
                               <td>{{ field }}</td>
                               <td id="error">{{ field.errors }}</td>
                           </tr>
                         {% endfor %}
                         </table>
                         <div style="margin: 5px;">
                            <button id="flat-boton" type="submit"> Registrar  </button>
                         </div>
            </form>
{% endblock %}