
{% extends "FacturasNorte/base/base.html" %}
{% load l10n %}
{% block content %}

        <form action="" class="register" method="post">

            <fieldset class="row1">
                <legend>Cambiar contrase&ntilde;a
                </legend><br>

                    {% csrf_token %}
                    <form action="" method="post">
                        {{ form.non_field_errors }}
                        {% for field in form %}

                                 <div class="fieldWrapper">
                                    <p> {{ field.label_tag }} <br>

                                        {{ field }} </p>

                                 </div>
                             {% endfor %}

                             <p></p>
                             <p></p>

                         <div style="width: 170px; margin: 0 auto;">
                            <input type="submit" value="Guardar"/>
                         </div>
                    </form>
            </fieldset>
        </form>
{% endblock %}