{% extends "FacturasNorte/base/base.html" %}
{% load l10n %}


{% block content %}
        <form action="" class="register" method="post">

            <fieldset class="row1">
                <legend>Facturas Norte
                </legend>

                    <form action="" method="post">
                        {% csrf_token %}
                            <h1> Formulario de Registro Empleado</h1>
                                <h6> (*) este campo es obligatorio <h6>
                             {% for field in form %}


                                  <div class="fieldWrapper">
                                    <br> * {{ field.label_tag }} </br>

                                         {{ field.errors }}
                                         {{ field }}


                                  </div>

                             {% endfor %}


                              <p></p>
                              <p></p>

                         <div style="width: 170px; margin: 0 auto;" value="Guardar"/>
                         <input type="submit" value="Guardar"/>

                    </form>
            </fieldset>
        </form>
{% endblock %}
