{% extends "FacturasNorte/base/base.html" %}
{% load l10n %}
{% block content %}
        <form action="" class="register" method="post">

            <fieldset class="row1">
                <legend>Registrar Administrador
                </legend>
                    {% load l10n %}
                    <form action="" method="post">
                        {% csrf_token %}
                              <h1> Formulario de Registro Administrador</h1>
                             {{ form.non_field_errors }}
                                <h6> (*) estos campos son obligatorios </h6>
                             {% for field in form %}


                                  <div class="fieldWrapper">
                                    <br> * {{ field.label }} <br>

                                         {{ field.errors }}
                                         {{ field }}


                                  </div>

                             {% endfor %}


                              <p></p>
                              <p></p>
                         <div style="width: 170px; margin: 0 auto;">
                            <input type="submit" value="Guardar"/>
                         </div>
                    </form>
            </fieldset>
        </form>
{% endblock %}
