{% extends "FacturasNorte/base/base.html" %}
{% load l10n %}
{% block content %}
{% load l10n %}
<h1>{{ admin.nombre}}</h1>

<p>DNI: {{ admin.dni }}</p>
<p>Fecha nacimiento: {{ admin.fechaNacimiento|date:"SHORT_DATE_FORMAT" }}</p>
<p>Domicilio: {{ admin.domicilio }}</p>
<p>Telefono: {{ admin.telefono }}</p>

    <div id="links">
        <form action="{% url 'FacturasNorte:modif_admin' admin.id %}">
            <input type="submit" value="Modificar">
        </form>
        <form action="{% url 'FacturasNorte:reestablecer_contrasena' admin.id %}">
            <input type="submit" value="Reestablecer contrasena">
        </form>
        <form action="{% url 'FacturasNorte:elim_admin' admin.id %}">
            <input type="submit" value="Eliminar">
        </form>
    </div>
{% endblock %}