{% extends "FacturasNorte/base/base.html" %}
{% load l10n %}
{% load staticfiles %}
{% block content %}
<h1>Administradores</h1>

     <div id="searchbar">
        <form action="" id="filter" method="get">
        {% csrf_token %}

            <div class="fieldWrapper">
                <p> {{ form.query.label_tag }} {{ form.query }} {{ form.tipo.label_tag }} {{ form.tipo }}</p>
                <button id="boton" type="submit", style = margin-left:20px;padding:2px;border-right-width:3px;> Filtrar  </button>
            </div>
        </form>
    </div>
    <div id="nuevo">
        <p><a href={% url 'FacturasNorte:nuevo_admin' %}>
             <img src="{% static "FacturasNorte/img/add.gif" %}" width="12", alt="Nuevo"/> Nuevo administrador</a></p>
    </div>
<br/>
<br/>

{% if not admin_list %}
      <h3> No se han encontrado resultados.</h3>
  {% else %}

 <table style="width:100%">

  <tr>
    <th>DNI</th>
    <th>Nombre</th>
    <th>Email</th>
    <th></th>
    <th></th>
  </tr>
     {% for admin in admin_list %}

        <tr>
            <td><a href={% url 'FacturasNorte:detalle_admin' admin.id %}>{{ admin.dni }}</a></td>
            <td><a href={% url 'FacturasNorte:detalle_admin' admin.id %}>{{ admin.nombre }}</a></td>
            <td><a href={% url 'FacturasNorte:detalle_admin' admin.id %}>{{ admin.email }}</a></td>

            <td><a href={% url 'FacturasNorte:modif_admin' admin.id %}>

                 <img src="{% static "FacturasNorte/img/edit.gif" %}" width="12", alt="Editar"/> Editar</a></td>

            <td><a href={% url 'FacturasNorte:elim_admin' admin.id %}>
                 <img src="{% static "FacturasNorte/img/delete.gif" %}" width="12", alt="Editar"/> Borrar</a></td>

     


        </tr>


     {% endfor %}
  {% endif %}
</table>

    {% if is_paginated %}
       <div class="pagination">

               <span class="page-links" style="margin: 500px;">
                {% if page_obj.has_previous %}
                    <a href="?page={{ page_obj.previous_page_number }}">
                        <button> <img src="{% static "FacturasNorte/img/anterior.jpg" %}" width="14", alt=""/>  Anterior </button>
                    </a>
                {% endif %}
                <span class="page-current">
                    Pagina {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}
                </span>
                {% if page_obj.has_next %}
                   <a href="?page={{ page_obj.next_page_number }}">
                       <button> <img src="{% static "FacturasNorte/img/siguiente.jpg" %}" width="14", alt=""/>  Siguiente </button>
                    </a>

                {% endif %}
            </span>
        </div>

    {% endif %}
{% endblock %}