{% extends "FacturasNorte/base/base.html" %}
{% load l10n %}
{% load staticfiles %}
{% block content %}
<h1>Empleados</h1>

    <div id="searchbar">
        <form action="" id="filter" method="post">
        {% csrf_token %}

            <div class="fieldWrapper">

                <p> {{ form.query.label_tag }} {{ form.query }}   {{ form.tipo.label_tag }} {{ form.tipo }}</p>

            </div>
            <button id="boton" type="submit", style = margin:-4px;padding:2px;border-right-width:3px;> Filtrar  </button>
        </form>
    </div>
    <div id="nuevo">
        <p><a href={% url 'FacturasNorte:nuevo_empleado' %}>Nuevo empleado</a></p>
    </div>
<br/>
<br/>

{% if not emp_list %}
      <h3> No se han encontrado resultados.</h3>
  {% else %}

 <table style="width:100%">

  <tr>
    <th>DNI</th>
    <th>Nombre</th>
    <th>Email</th>
    <th></th>
    <th></th>
  </tr>
     {% for empleado in emp_list %}

        <tr>
            <td><a href={% url 'FacturasNorte:detalle_empleado' empleado.id %}>{{ empleado.dni }}</a></td>
            <td><a href={% url 'FacturasNorte:detalle_empleado' empleado.id %}>{{ empleado.nombre }}</a></td>
            <td><a href={% url 'FacturasNorte:detalle_empleado' empleado.id %}>{{ empleado.email }}</a></td>
            <td><a href={% url 'FacturasNorte:modif_empleado' empleado.id %}>
                 <img src="{% static "FacturasNorte/img/editar.jpg" %}" width="12", alt="Editar"/></a></td>
            <td><a href={% url 'FacturasNorte:elim_empleado' empleado.id %}>
                 <img src="{% static "FacturasNorte/img/eliminar.png" %}" width="12", alt="Editar"/></a></td>
        </tr>

     {% endfor %}
  {% endif %}
</table>

    {% if is_paginated %}
        <div class="pagination">
            <span class="page-links">
                {% if page_obj.has_previous %}
                    <a href="?page={{ page_obj.previous_page_number }}">anterior</a>
                {% endif %}
                <span class="page-current">
                    Pagina {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}.
                </span>
                {% if page_obj.has_next %}
                    <a href="?page={{ page_obj.next_page_number }}">siguiente</a>
                {% endif %}
            </span>
        </div>
    {% endif %}

{% endblock %}