{% extends "FacturasNorte/base/base.html" %}
{% load l10n %}

{% block content %}
<h1>{{ admin.nombre}}</h1>

<p>DNI: {{ admin.dni }}</p>
<p>Fecha nacimiento: {{ admin.fechaNacimiento|date:"SHORT_DATE_FORMAT" }}</p>
<p>Domicilio: {{ admin.domicilio }}</p>
<p>Telefono: {{ admin.telefono }}

<div id="links">
    <form action="{% url 'FacturasNorte:cambiar_contrasena'%}">
            <input type="submit" value="Cambiar contrasena">
    </form>
    <form action="{% url 'FacturasNorte:modif_admin' admin.id %}">
            <input type="submit" value="Modificar">
    </form>
</div>
{% endblock %}