{% extends "FacturasNorte/base/base.html" %}
{% load l10n %}

{% block content %}

{%  if user.id == admin.nroUsuario.id %}

<h1>Datos personales</h1>

<table id="vertical" style="width:100%">
  <tr>
    <th>Nombre</th>
    <td>{{ admin.nombre }}</td>
  </tr>
  <tr>
    <th>DNI</th>
    <td>{{ admin.dni }}</td>
  </tr>
  <tr>
    <th>Fecha nacimiento</th>
    <td>{{ admin.fechaNacimiento|date:"SHORT_DATE_FORMAT" }}</td>
  </tr>
  <tr>
    <th>Email</th>
    <td>{{ admin.email }}</td>
  </tr>
  <tr>
    <th>Domicilio</th>
    <td>{{ admin.domicilio }}</td>
  </tr>
  <tr>
    <th>Telefono</th>
    <td>{{ admin.telefono }}</td>
  </tr>

</table>

<div id="links">
    <form action="{% url 'FacturasNorte:cambiar_contrasena'%}">
            <input type="submit" value="Cambiar contrase&ntilde;a">
    </form>
    <form action="{% url 'FacturasNorte:modif_admin' admin.id %}">
            <input type="submit" value="Modificar">
    </form>
</div>

{% else %}
    <p>No tiene permiso para visualizar los datos de esta persona</p>
{% endif %}

{% endblock %}