{% extends "FacturasNorte/base/base.html" %}
{% load l10n %}
{% load staticfiles %}
{% block content %}

    {%  if user.id == cliente.nroUsuario.id or user.is_superuser %}

        <h1>Sus facturas</h1>

        <div id="searchbar">
            <form action="" id="filter" method="get">
            {% csrf_token %}

                <div class="fieldWrapper">
                    <p> {{ form.numero.label_tag }} {{ form.numero }} {{ form.fecha.label_tag }} {{ form.fecha }}  {{ form.tipo.label_tag }} {{ form.tipo }}</p>
                    <button id="boton" type="submit"> Filtrar  </button>
                </div>

            </form>
        </div>

        <br/>
        <br/>

        {% if not lista_facturas %}
            <h3> No se han encontrado resultados.</h3>
        {% else %}

     <table style="width:100%">

      <tr>
        <th>Nro Factura</th>
        <th>Fecha Factura</th>
        <th>Nro Pedido</th>
        <th>Fecha Pedido</th>
        <th>Factura</th>
        <th>Detalle</th>
        </tr>
         {% for fac in lista_facturas %}
            <tr>
                <td>{{ fac.nroFactura }}</td>
                <td>{{ fac.fechaFac }}</td>
                <td>{{ fac.nroPedido }}</td>
                <td>{{ fac.fechaPed }}</td>
                <td><a href={% url 'FacturasNorte:media' fac.rutaFac %}> <img src="{% static "FacturasNorte/img/view.png" %}" width="12", alt="Editar"/> Ver Factura</a></td>
                <td><a href={% url 'FacturasNorte:media' fac.rutaPed %}> <img src="{% static "FacturasNorte/img/view.png" %}" width="12", alt="Editar"/> Ver Detalle</a></td>
            </tr>

         {% endfor %}
      {% endif %}
    </table>

    {% else %}
        <p>No tiene permiso para visualizar los datos de esta persona.</p>
    {% endif %}

{% endblock %}
