{% extends "FacturasNorte/base/base.html" %}
{% load l10n %}

{% block content %}

{%  if user.id == cliente.nroUsuario.id %}

<h1>Datos personales</h1>

<table id="vertical" style="width:100%">
   <tr>
    <th>Nombre</th>
    <td class="datos">{{ cliente.nombre }}</td>
  </tr>
  <tr>
    <th>DNI</th>
    <td class="datos">{{ cliente.dni }}</td>
  </tr>
  <tr>
    <th>Fecha nacimiento</th>
    <td class="datos">{{ cliente.fechaNacimiento|date:"SHORT_DATE_FORMAT" }}</td>
  </tr>
  <tr>
    <th>Email</th>
    <td class="datos">{{ cliente.email }}</td>
  </tr>
  <tr>
    <th>Domicilio</th>
    <td class="datos">{{ cliente.domicilio }}</td>
  </tr>
  <tr>
    <th>Telefono</th>
    <td class="datos">{{ cliente.telefono }}</td>
  </tr>

</table>


<form method="post" action="{% url 'FacturasNorte:cambiar_contrasena' %}">
{% csrf_token %}
<button id="boton" type="submit"> Cambiar contrase&ntilde;a </button>
</form>
<div id="links">

    <form method="post" action="{% url 'FacturasNorte:cambiar_contrasena' %}">
    {% csrf_token %}
    <button id="flat-boton" type="submit"> Cambiar contrase&ntilde;a </button>
    </form>
</div>
{% else %}
    <p>No tiene permiso para visualizar los datos de esta persona.</p>
{% endif %}

{% endblock %}